.fWidth{ width: 100%; }
.d-flex{ display: flex; }
.d-none{ display: none; }
.bg-inh { background-color: inherit; }
.hidden {visibility: hidden; width:0px; height:0px; position:absolute;}

.bgDark{
  background-color: #0e0e0e;
}

.cWhite{
  color: white;
}

.bgCol{
  background-color: #f8f8f8;
}

body {
  display: flex;
  flex-direction: column;
}

#header {
  background-color: #0F0F0F;
  position: fixed;
  width: 100%;
  z-index: 100;
}


.b { /*basic button*/
  display: inline-block; /* idk */
  align-self: flex-start; /*keep from resizing in flex*/

  font-size: 14px;
  border: 1px solid transparent;
  padding: 2px 6px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
}

.dot{
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;

  height: 15px;
  width: 15px;
  background-color: rgba(255,255,255, 0.2);
  border: 0px;
  padding: 0;

  border-radius: 99px;
}

.statusIndicator {
  position: fixed;
  left: 10px;
  z-index: 1000;
}
