.fWidth{ width: 100%; }
.d-flex{ display: flex; }
.d-none{ display: none; }
.bg-inh { background-color: inherit; }
.invisible {display: none; width:0px; height:0px; position:absolute;}

.hidden{display: none;}

.bgDark{
  background-color: #efefef;
  color: black;
}

.cWhite{
  color: white;
}

.bgCol{
  /* background-color: #f8f8f8; */
  background-color: white;
}
textarea, input{
  font-family: inherit;
}
body {
  font-family: Tahoma, sans-serif;
  /*
  display: flex;
  flex-direction: column;
  */
  margin: 0px;
  /* width: 100vw; */ /* Fix this piece of shit mobile web dev crap, still needed? */
}

#header {
  background-color: #0F0F0F;
  position: fixed;
  width: 100%;
  z-index: 100;
}
#headerDescription {
  resize: none;
  text-overflow: ellipsis; /* ? */
  
  /* margin: 3px; */
  border: 0px;
  padding: 5px;
}

#dialogBack {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0,0.7);
  z-index: 200;
}

.b { /*basic button*/
  display: inline-block; /* idk */
  align-self: flex-start; /*keep from resizing in flex*/

  cursor: pointer;
  font-size: 14px;
  border: 2px solid black;
  padding: 2px 6px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
}

.dot{
  display: inline-block;
  position: absolute;
  right: -2px;
  top: -2px;

  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: rgba(255,255,255, 0.2);
  border: 0px;
  padding: 0;

  border-radius: 0px 4px 0px 4px;
  border: 2px solid black;
}


.dialog{
  position: absolute;

  width: 80%;
  height: 90%;
  max-width: 700px;
  max-height: 600px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border: 3px solid black;
}
.dialog-header{
  display: flex;
}
.dialog-body{
  flex: 1;
  height: 100%;
}


.statusIndicator {
  position: fixed;
  left: 10px;
  z-index: 1000;
}
